body{
  margin: 0px;
}
p{
  color: #554545;
}
h1{
  color: #554545;
}
h2{
  color: #554545;
}
.header{
  height: 55px;
  box-shadow: 2px 2px 4px #dddddd;
}
.header_logo{
  padding-top: 5px;
  margin-left: 7%;
  float: left;
  height: 55px;
}
.header_blank{
  float: left;
  width: 51%;
  height: 55px;
}
.header_links{
  float: left;
  height: 55px;
  text-align: center;
  margin-right: 30px;
  padding-top: 16px;
}
.header_links a{
  color: #707090
}
.header_links a:hover{
  padding-top: 15px;
  padding-bottom: 15px;
  background: #deeefa;
}
.header_links_div{
  float: left;
}

.access{
  width: 100%;
  padding-left: 6%;
}
.access_title{
}
.access_adress{
}
.footer{
  clear: both;
  color: #eeeeee;
  margin-top: 74px;
  height: 140px;
  background-color: #806060;
  padding-top: 10px;
  padding-left: 40px;
}
.footer_share{
  color: #eeeeee;
}
.footer_copyright{
  color: #eeeeee;
  text-align: right;
  margin-right: 40px;
}
