@charset "UTF-8";
@media (max-width: 1024px) {
  .header_blank{
    float: left;
    width: 25%;
    height: 55px;
  }

  .menu{
    width: 100%;
  }
  .menu_title{
    margin-left: 6%;
  }
  .menu_cardcase{
    margin-bottom: 10px;
    margin-right: 6%;
    margin-left: 6%;
    width: 100%
  }

  .menu_card{
    height: 370px;
    text-align: center;
    font-size: 10pt;
    background-color: #efdede;
    border-radius: 10px;
    float: left;
    width: 25%;
    margin: 1%;
    padding: 1%;
    box-shadow: 2px 2px 8px #dddddd;
  }

  .menu_card img{
    width: 100%;
    border-radius: 5px;
  }
  .access{
    width: 100%;
    padding-left: 6%;
  }
  .access_title{
  }
  .access_adress{
  }
  .access_map_google{
    width: 88%;
  }
  .contact{
    width: 100%;
    padding-left: 6%;
  }
  .contact_form input{
    padding: 2px 4px;
    width: 86%;
  }
  .contact_form textarea{
    padding: 2px 4px;
    width: 86%;
  }
  .contact_form .submit_button{
    margin-top: 20px;
    width: 87%;
  }
}

@media (max-width: 670px) {
}
