.header{
  height: 55px;
  /*
  padding-left: 150px;
  */
}
.header_logo{
  margin-left: 7%;
  float: left;
}
.header_links{
  padding-top: 12px;
  text-align: right;
  margin-right: 50px;
}
.content_backimg{
  background-image: url(http://www.cosco-inc.com/images/main.png);
  height: 370px;
  padding-top: 100px
}

.content_backimg_shopname{
  color: #eeeeee;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 56pt;
  text-align: center;
}

.content_backimg_description1{
  color: #eeeeee;
  font-size: 20pt;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content_backimg_description2{
  color: #eeeeee;
  font-size: 12pt;
  text-align: center;
  margin-top: 60px;
}
.content_recommend{
  padding-top: 100px;
}
.content_recommend {
  text-align: center;
  padding-bottom: 10px;
}
.content_recommend_title{
  margin-top: 0px;
  font-size: 15pt;
}
.content_recommend_img{
  text-align: center;
}
.content_recommend_img img{
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}
.content_recommend_caption{
  margin-top: 0px;
}
.content_recommend_comment{
}

.footer{
  color: #eeeeee;
  margin-top: 74px;
  height: 140px;
  background-color: #020015;
  padding-top: 10px;
  padding-left: 40px;
}
.footer_share{
}
.footer_copyright{
  text-align: right;
  margin-right: 40px;
}
